# --- Web Server ---
flask==3.0.3
flask-cors==4.0.1
requests==2.32.3

# --- OCR Engines & Image Processing ---
easyocr==1.7.1
pytesseract==0.3.10
Pillow==10.3.0

# --- PDF Handling ---
pypdf==4.2.0
pdf2image==1.17.0

# --- Text-to-Speech  ---
edge-tts==6.1.12
soundfile==0.12.1

# --- Machine Learning  ---
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
numpy==1.26.4
transformers==4.41.2